---
import Layout from '~/layouts/Layout.astro';
import Wrapper from '~/components/wrapper.astro';
import Prose from '~/components/prose.astro';
import Link from '~/components/link.astro';
import Heading from '~/components/text/heading.astro';
import type { Post } from '~/content/config';

type Props = {
	frontmatter: Post;
};

const { title, pubDate, description, cover, coverAlt, tags } =
	Astro.props.frontmatter;
---

<Layout {title} {description}>
	<main>
		<Wrapper>
			<Heading Element="h1">{title}</Heading>
			<div class="flex items-center text-sm capitalize">
				<span>note</span>
				<div class="mb-0.5 px-2">|</div>
				<span class="tabular-nums">
					{pubDate}
				</span>
			</div>
			<div class="h-xs"></div>
			<ul class="flex flex-wrap gap-2 text-sm">
				{
					tags.map((tag) => (
						<li class="shrink-0">
							<Link href={`/notes/tags/${tag}`} color="accent" underline>
								#{tag}
							</Link>
						</li>
					))
				}
			</ul>
			{
				cover && (
					<>
						<div class="h-md" />
						<div class="flex max-h-[600px] w-full items-center justify-center overflow-hidden rounded-xl">
							<img
								class="h-auto w-full rounded-xl"
								src={cover}
								alt={coverAlt}
							/>
						</div>
					</>
				)
			}
			<div class="h-md"></div>
			<Prose>
				<slot />
			</Prose>
			<div class="h-xl"></div>
			<Link href="/notes">&Larr;&nbsp;&nbsp;Back to notes</Link>
		</Wrapper>
	</main>
</Layout>
