---
import Layout from '~/layouts/Layout.astro';
import Wrapper from '~/components/wrapper.astro';
import Prose from '~/components/prose.astro';
import Link from '~/components/link.astro';
import Heading from '~/components/text/heading.astro';
import type { Post } from '~/content/config';

type Props = {
	frontmatter: Post;
};

// info: https://docs.astro.build/en/guides/imports/#node-builtins
import fs from 'node:fs';
import process from 'node:process';

function formatDate(date: Date) {
	return date.toLocaleString(undefined, {
		month: 'short',
		day: 'numeric',
		year: 'numeric',
	});
}

function getLastModified(filename: string) {
	const stat = fs.statSync(`${process.cwd()}/src/content/posts/${filename}.md`);
	const { mtime: modified } = stat;
	return modified;
}

const { slug } = Astro.params;
const { title, pubDate, description, cover, coverAlt, tags } =
	Astro.props.frontmatter;
---

<Layout {title} {description}>
	<Wrapper>
		<Heading Element="h1">{title}</Heading>
		<div class="flex items-center text-sm font-bold">
			<p
				class="inline-flex pr-3 italic text-f-high after:-mt-px after:pl-3 after:text-f-low after:content-['|']"
			>
				Note
			</p>

			<div class="flex flex-wrap items-center gap-1.5">
				<p class="tabular-nums text-f-high">{formatDate(pubDate)}</p>

				<p class="tabular-nums">
					(modified {formatDate(getLastModified(slug))})
				</p>
			</div>
		</div>

		<div class="h-xs"></div>

		<ul class="flex flex-wrap gap-2 text-sm">
			{
				tags.map((tag) => (
					<li class="shrink-0">
						<Link href={`/notes/tags/${tag}`} color="accent" underline>
							#{tag}
						</Link>
					</li>
				))
			}
		</ul>
		{
			cover && (
				<>
					<div class="h-lg" />
					<div class="flex max-h-[600px] w-full items-center justify-center overflow-hidden rounded-xl">
						<img class="h-auto w-full rounded-xl" src={cover} alt={coverAlt} />
					</div>
				</>
			)
		}
		<div class="h-lg"></div>
		<Prose>
			<slot />
		</Prose>
		<div class="h-xl"></div>
		<Link href="/notes">&Larr;&nbsp;&nbsp;Back to notes</Link>
	</Wrapper>
</Layout>
